* {
	box-sizing: border-box;
}
header {
	background: white;
	padding: 20px;
}
#name {
	float: left;
	background: #08afa7;
	padding: 20px;
	color: white;
	font-size: 24px;
}
ul {
	list-style-type: none;
}
ul a {
	text-align: right;
	display: inline;
}
footer {
	text-align: center;
	background: grey;
	color: white;
	padding: 20px;
}
