* {
	box-sizing: border-box;
}
body {
	width: 960px;
	height: 650px;
}
.container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.nav {
	text-align: right;
	height: 72px;
}
li a {
	display: inline;
}
h1 {
	background: #08afa7;
	padding: 20px;
	color: white;
	font-size: 32px;
	left: -40px;
	float: left;
}
hr {
	clear: both;
}
#contentheader {
	height: 400px;
	width: 400px;
	clear: both;
	float: left;
}
footer {
	clear: both;
	text-align: center;
	background: grey;
	color: white;
	padding: 20px;
	border-top-width: 20px;
	border-top: #08afa7;
	border-top-style: solid;
	position: relative;
	bottom: 0;
	width: 100%;
}
h2 {
	font-size: 32px;
	bottom: 0;
}
#sidebar {
	float:left;
}
