* {
	box-sizing: border-box;
}
body {
	width: 960px;
	height: 960px;
}
.container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 960px;
	background: #dddddd;
}
.nav {
	text-align: right;
	height: 70px;
	border-bottom-width: 2px;
	border-style: solid;
	border-color: black;
	background: #ffffff;
	position: relative;
	width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
}
li {
	display: inline;
	top: 20px;
}
li a {
    display: inline;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1 {
	position: absolute;
	background: #4aaaa5;
	padding: 20px;
	color: white;
	font-size: 28px;
	left: 60px;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
hr {
	clear: both;
}
#contentheader {
	height: 700px;
	width: 650px;
	clear: both;
	float: left;
	border-style: solid;
	border-color: #dddddd;
	border-width: 40px;
	background: white;
	padding: 20px;
}
footer {
	clear: both;
	text-align: center;
	background: grey;
	color: white;
	padding: 20px;
	border-top-width: 20px;
	border-top: #4aaaa5;
	border-top-style: solid;
	position: fixed;
	bottom: 0;
	width: 960px;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	bottom: 0;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
}
#sidebar {
	float:left;
	border-style: solid;
	border-color: #dddddd;
	border-width: 40px;
	background: white;
	border-left-width: 0px;
	padding: 20px;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	color: #4aaaa5;
	padding-bottom: 10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#social {
	padding-top: 10px;
	float: left;
}
form {
	padding: 10px;
}
.message {
	width: 400px;
	height: 300px;
	color: #777777;
}
h5 {
	color: #777777;
}
#text {
	clear: both;
	width: 400px;
}
li a:hover {
	
}
.portfolio {
	height: 600px;
	width: 600px;
}
#contentsection {
	float: left;
	width: 650px;
	height: 600px;
	border-style: solid;
	border-top-width: 40px;
	border-left-width: 120px;
	border-right-width: 40px;
	border-color: #dddddd;
	background: white;
	overflow: hidden;
	padding: 20px;
}
.portfoliopic {
	padding: 20px;
	float: left;
}
#sidebar2 {
	float: left;
	border-style: solid;
	border-color: #dddddd;
	border-width: 40px;
	background: white;
	border-left-width: 0px;
	padding: 20px;
}
p {
	line-height: 30px;
}